.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.code-container,
.argument-container,
.stack-container {
  width: 30%;
}

textarea {
  width: 100%;
  font-family: monospace;
}

input {
  width: 100%;
}

.stack {
  border: 1px solid #ccc;
  padding: 10px;
}

.stack-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.address {
  font-family: monospace;
  color: #888;
}

.name {
  font-weight: bold;
}

.value {
  font-family: monospace;
}

.value span {

  display: inline-block;

  width: 20px;

  text-align: center;

  border: 1px solid #ccc;

  margin: 1px;

}



.value span.overflow {

  background-color: red;

  color: white;

}




